.loading {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  /* background: #f0f0f5; */
  background: black;
  /* background: black; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.animationLoading {
  text-align: center;
  animation: load 2s ease-in-out infinite;
}

@keyframes load {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
