.logon-container {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logon-container section.form {
  width: 100%;
  max-width: 350px;
  margin: 30px;
}
.logon-container section.form .box-logo {
  display: flex;
  align-items: center;
}

.logon-container section.form form {
  margin-top: 100px;
}

.logon-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

@media (max-width: 1023px) {
  .logon-container {
    justify-content: center;
  }
  .logon-container img {
    display: none;
  }
  .logon-container section.form .box-logo {
    justify-content: center;
  }
  .logon-container section.form .box-logo img {
    display: block;
  }
}
